.fakeLink {
    background: none!important;
    border: none;
    font-family: arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.href {
    color: #479cf7d3;
    text-decoration: underline;
}

.href:hover {
    color: #007bff;
}

.fakeLink:focus {
    outline: 0;
}

.icon--delete {
    padding-left: 0.5rem;
}

a {
    width: 150px;
    height: 225px;
}

.searchResults {
    display: inline-block;
}

.search {
    display: inline-block;
}

.resultsHeader {
    display: inline-block;
}

.comics {
    overflow-y: auto;
}

.imageDescriptionContainer {
    display: flex;
    flex-direction: row;
}