.fakeLink {
    background: none!important;
    border: none;
    font-family: arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.href {
    /* color: #479cf7d3; */
    color: black;
    /* text-decoration: underline; */
}

.href:hover {
    color: #007bff;
}

.fakeLink:focus {
    outline: 0;
}

.icon--delete {
    padding-left: 0.5rem;
}

a {
    width: 150px;
    height: 225px;
}

.searchResults {
    display: inline-block;
}

.search {
    display: inline-block;
    width: 255.29px;
}

.resultsHeader {
    display: inline-block;
}

.comics {
    overflow-y: auto;
}

.imageDescriptionContainer {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.characters {
    border-radius: 5px;
    height: 550px;
    overflow-y: auto;
    width: 255.29px;
}

.characterName {
    text-align: center;
}

.characterDescriptionHeader {
    margin-left: 20px;
    padding-top: 20px;
}

.characterDescription {
    padding: 60px;
}
.characterImage {
    border: 3px solid black;
    border-radius: 0px;
    box-shadow: 0px 10px 18px 0px rgba(50, 50, 50, 1);
    margin-left:1%;
}

.listGroup {
    background-color: white;
    overflow-y: auto;
}

.searchBox {
    width: 255.29px;
}

.searchBarFieldset {
    height: 42px;
}

.comicsHeader {
    text-align: center;
}
.comics {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.comic {
    border: 2px solid darkslategray;
    margin-left: 10px;
}