.searchContainer {
    display: flex;
    flex-direction: column;
}


.comicSearchContainer {
    display: flex;
    flex-direction: row;
}

.listDisplay {
    width:80%;
}

.myListHeader {
    text-align: center;
}

.comicAnchor {
    height: 200px;
    width: 198px;
}
.comicImage {
    height: 200px;
    width: 198px !important;
}

.readComic {
    font-size: 13px;
    height: 300px;
    margin-left: 20px;
    margin-top: 20px;
    width:200px;
}

.readComicCard {
    height: 300px;
}

.comicCard {
    font-size: 13px;
    height: 320px;
    margin-left: 10px;
    margin-top: 10px;
    width:200px;
}

.cardTitle {
    margin-left: 5px;
}
.comicButtons {
    font-size: 13px !important;
    height: 30px;
    width: 80px;
}

.comic {
    display: inline-block;
    height: auto;
    
}

.cardBody {
    display: flex;
    flex-direction: column;
    position: relative;
}

.comicButtonsContainer {
    bottom: 0px;
    display: flex;
    flex-direction: row;
    position: absolute;
}
.readComicsHeader {
    text-align: center;
}

.readingListContainer {
    display: flex;
    flex-wrap: wrap;
    height: 650px;
    margin-left: 20px;
    overflow-y: auto;
    padding-left: 80px;
}

.readComicsContainer {
    display: flex;
    flex-wrap: wrap;
    height: 650px;
    overflow-y: auto;
}