.searchContainer {
    display: flex;
    flex-direction: column;
    width: 150px;
}


.comicSearchContainer {
    display: flex;
    flex-direction: row;
}

.listDisplay {
    width:80%;
}

.myListHeader {
    text-align: center;
}

.comicAnchor {
    height: 200px;
    width: 198px;
}
.comicImage {
    height: 200px;
    width: 198px !important;
}

.readComic {
    border-radius: 10px;
    box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 1);
    font-size: 13px;
    height: 300px;
    margin-left: 20px;
    margin-top: 20px;
    width:200px;
}

.readComicCard {
    border-radius: 10px;
    height: 300px;
}

.comicCard {
    /* border: 1px solid black !important; */
    box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 1);
    font-size: 13px;
    height: 320px;
    margin-left: 10px;
    margin-top: 10px;
    width:200px;
}

.cardTitle {
    margin-left: 5px;
}
.comicButtons {
    background-color: cornflowerblue !important;
    border-color: darkslategray !important;
    font-size: 13px !important;
    height: 30px;
    width: 80px;
}

.comicButtons:hover{
    background-color: indigo !important;
}
.comic {
    display: inline-block;
    height: auto;
    
}

.cardBody {
    display: flex;
    flex-direction: column;
    position: relative;
}

.comicButtonsContainer {
    bottom: 0px;
    display: flex;
    flex-direction: row;
    position: absolute;
}
.readComicsHeader {
    text-align: center;
}

.readingListContainer {
    display: flex;
    flex-wrap: wrap;
    height: 620px;
    margin-left: 20px;
    overflow-y: auto;
    padding-left: 40px;
}

.readComicsContainer {
    display: flex;
    flex-wrap: wrap;
    height: 620px;
    overflow-y: auto;
    padding-left: 30px;
}

.search {
    width: 188px;
}

.characters {
    width: 188px;
}