.sideNav {
    display: flex;
    flex-direction: column;
}

.sideNavContainer {
    background: rgba(0, 0, 0, 0.9);
    border-right: 1px solid black;
    height: auto;
    width: 15%;
}

.sideNavIcon {
    color: dodgerblue;
    margin-right: 10px;
}

.sideNavLinks {
    color: dodgerblue;
    cursor: pointer;
    font-size: 13px;
}

.sideNavLinks:hover {
    color: darkblue;
    text-decoration: underline;
}

.sideNavIcon:hover {
    color: darkblue;
}