.sideNav {
    display: flex;
    flex-direction: column;
}

.sideNavContainer {
     /* background-color: lightgray; */
    /* background-image: linear-gradient(lightgray, grey); */
    /* background-color: black; */
    background: rgba(0, 0, 0, 0.9);
    border-right: 1px solid black;
    height: auto;
    width: 15%;
}

.sideNavIcon {
    color: dodgerblue;
    margin-right: 10px;
}

.sideNavLinks {
    font-size: 13px;
}