.forumPost {
    background-color: lightgray !important;
    display: inline-block;
    height: auto;
    margin-top: 10px;
    width: 70%;
    word-wrap: break-word;
}

.forumTopicHeader {
    text-align: center;
}
.forumPosts {
    height: 390px;
    overflow-y: auto;
    text-align: center;
}

.postContainer {
    text-align: center;
    overflow-y: auto;
    height: 500px;
}
.postContent {
    padding: 5px !important;
}
.postDate {
    font-size: 12px;
    margin-bottom: 0;
    text-align: right;
}

.postDateMessage {
    display: flex;
    flex-direction: column;
}

.postMessage {
    font-size: 13px;
    margin-bottom: 0;
    padding: 0px 20px;
}
.postHeader {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.forumTextArea {
    height:auto;
    padding-top: 0px;
}

.postButton {
    margin-left: 5px;
    margin-top: 5px;
    
}

.postMessageContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.forumPageHeader {
    text-align: center;
}

.forumPageContainer {
    text-align: left;
}

.fakeLink {
    background: none!important;
    border: none;
    font-family: arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

h5 {
    background: none!important;
    border: none;
    font-family: arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.href {
    /* color: #479cf7d3; */
    color: black;
    /* text-decoration: underline; */
}

.href:hover {
    color: #007bff;
}

.fakeLink:focus {
    outline: 0;
}

.forumGroupList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.forumGroupDiv {
    display: flex;
    flex-direction: row;
}

.createForumGroupButton {
    margin-left: 75%;
    margin-right: 10px;
    width: 170.5px;
    height:38px;
}

.forumPostContainer {
    margin-left: 10px;
    margin-top: 10px;
}

.userAvatar {
    display: inline-block;
}

.avatarHeader {
    display: flex;
    flex-direction: row;
}