.forumPost {
    display: inline-block;
    height: auto;
    margin-top: 10px;
    width: 70%;
    word-wrap: break-word;
}

.postContainer {
    text-align: center;
    overflow-y: auto;
    height: 500px;
}

/* .postContent {
    display: flex;
    flex-direction: row;
} */

/* .postDateMessage {
    display: flex;
    flex-direction: column;
    
} */
.postHeader {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

.forumTextArea {
    height:auto;
    padding-top: 0px;
}

.postButton {
    margin-left: 5px;
    
}

.postMessageContainer {
    display: flex;
    flex-direction: column;
}

.forumPageHeader {
    text-align: center;
}

.forumPageContainer {
    text-align: left;
}
