.forumPost {
    background-color: lightgray !important;
    display: inline-block;
    height: auto;
    margin-top: 10px;
    width: 98%;;
    word-wrap: break-word;
}

.forumTopicHeader {
    text-align: center;
}
.forumPosts {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 580px;
    overflow-y: auto;
    width: 600px;
}

.postContainer {
    text-align: center;
    overflow-y: auto;
    height: 500px;
}
.postContent {
    padding: 5px !important;
}
.postDate {
    font-size: 11px;
    margin-bottom: 0;
    text-align: right;
}

.postDateMessage {
    display: flex;
    flex-direction: column;
}

.postMessage {
    font-size: 12px;
    margin-bottom: 0;
    padding: 0px 40px;
}
.postHeader {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.forumTextArea {
    height:auto;
    padding-top: 0px;
}

.postButton {
    margin-left: 5px;
    margin-top: 5px;
    
}

.postMessageContainer {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    padding-left: 5px;
}

.forumPageHeader {
    text-align: center;
}

.forumPageContainer {
    text-align: left;
}

.fakeLink {
    background: none!important;
    border: none;
    font-family: arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

h5 {
    background: none!important;
    border: none;
    font-family: arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.href {
    color: black;
}

.href:hover {
    color: #007bff;
}

.fakeLink:focus {
    outline: 0;
}

.forumGroupList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.forumGroupDiv {
    display: flex;
    flex-direction: row;
    height: 40px;
    position: relative;
    right: 0;
}

.createForumGroupButton {
    margin-left: 63.25%;
    margin-right: 10px;
    width: 170.5px;
    height:38px;
}

.forumPostContainer {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 10px;
}

.userAvatar {
    display: inline-block;
}

.avatarHeader {
    display: flex;
    flex-direction: row;
}

.textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 345px;
}

.forumDropdownMenu {
    height: 146px;
    overflow-y: auto;
}

.dropdown {
    display: inline-block;
}

.editPostIcon {
    color: gray;
    cursor: pointer;
    position: absolute;
    right: 29em; 
}