.headerNav {
    background-color: lightslategrey;
    display: flex;
    flex-direction: row;
}

.logoutButton {
    height: 40%;
    margin-left: 80%;
    margin-top: 30px;
}

.routeContainer {
    background-color: lightgray;
    width: 85%;
}

.routerDiv {
    display: flex;
    flex-direction: row;
}

/* .container {
    margin: 0px 0px !important;
    width: 1519.2px !important;
} */

