@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.headerNav {
    background-color: red;
    background-image: url(./MARVELindex.png);
    background-repeat: no-repeat;
    background-size: 210px 50px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    height: 49px;
    text-align: right;
}

.headerWelcome {
    margin-left: 90%;
    margin-top: 20px;
}

.routeContainer {
    background-color: white;
    background-image: url(./newBackground.png);
    background-repeat: no-repeat;
    background-size: 1291px 700px;
    font-family: 'Permanent Marker', cursive;
    width: 85%;
}

.routerDiv {
    display: flex;
    flex-direction: row;
    height: 700px;
}

/* .container {
    margin: 0px 0px !important;
    width: 1519.2px !important;
} */



