.authModalContainer {
    /* background-image: url("https://vignette.wikia.nocookie.net/marveldatabase/images/e/eb/Fresh_Start_poster_001.jpg/revision/latest?cb=20180419011008"); */
    background-repeat: no-repeat;
    background-size: 1550px 900px;
    height:660px;
    width: 1550px;
    background-image: url("https://i.pinimg.com/originals/ab/17/5d/ab175d07bde766ca35af45963950ad3b.jpg");
}

.authContainer {
    background-image: url(../MARVELindex.png);
    background-repeat: no-repeat;
    background-size: 600px 80px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    height: 80px;
    margin-top: 1px;
}

.signInButton {
    margin-left: 85%;
}

.login {
    background: whitesmoke;
    border-radius: 5.594564901815878px;
    color: darkslategrey;
    font-size: 15px;
    height:40px;
    margin-top: 20px;
    padding: 13px;
    text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
    width: 90px;
}



